@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p,
span,
a,
li,
div,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.firaCodeFont {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
