@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.01em;
}

p,
span,
a,
li,
div,
button,
input,
textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6; 
}

h1,
.heading {
  font-family: "Titillium Web", sans-serif;
  /* font-weight: 700; */
  /* font-style: normal; */
  letter-spacing: 0.01em; /* Titillium looks great with slightly wider spacing */
}

/* Code: Fira Code (Standard dev font) */
.firaCodeFont {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@theme inline {
  --animate-shiny-text: shiny-text 8s infinite;
  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}

@layer base {
  * {
    @apply border-gray-300 dark:border-gray-700;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
