@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

*{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.firaCodeFont{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}